
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>About Us</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'home/images/logo/favicon.png' %}" type="image/x-icon">

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'home/css/animate-3.7.0.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/font-awesome-4.7.0.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/fonts/flat-icon/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/bootstrap-4.1.3.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/owl-carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
</head>
<body>
    <!-- Preloader Starts -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Header Area Starts -->
	{% include 'home/header.html' %}

    ?>

    <!-- Header Area End -->

    <!-- Banner Area Starts -->
    <section class="banner-area banner-bg about-page text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-text">
                        <h3>about us</h3>
                        <a href="index.php">home</a>
                        <span class="mx-2">/</span>
                        <a href="about.php">about us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->


    <!-- About Area Starts -->
    <!-- <section class="about-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center mb-5 mb-lg-0">
                    <h3>welcome to our best fitness club</h3>
                    <p>In seas is man brought it them that void fill land fourth. All thing air gathering day replenish bearing very. Together first good given firmament moving, night moved moved also them vold land</p>
                    <p>In seas is man brought it them that void fill land fourth. All thing air gathering, days replenish bearing very. Together first good given firmament moving, ni moved are moved also them vold land. Hath creeping subdue he. Fish. Green face whose it be seasons multiply female midst.</p>
                    <a href="#" class="template-btn mt-4">learn more</a>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <img class="img-fluid" src="assets/images/about.png" alt="">
                </div>
            </div>
        </div>
    </section> -->
    <section class="about-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center mb-5 mb-lg-0">
                    <h3>Welcome to our best fitness club</h3>
<p>Gymnasia apparatus such as barbells, parallel bars, jumping board, running path, tennis-balls, cricket field, and fencing area are used as exercises. In safe weather, outdoor locations are the most conducive to health.</p>
<p>Gymnasia apparatus such as barbells, parallel bars, jumping board, running path, tennis-balls, cricket field, and fencing area are used as exercises. In safe weather, outdoor locations are the most conducive to health.</p>
<p>Gyms were popular in ancient Greece. Their curricula included Gymnastica militaria or self-defense, gymnastica medica, or physical therapy to help the sick and injured, and gymnastica athletica for physical fitness and sports, from boxing to dancing to skipping rope.[3]</p>

                    <a href="#" class="template-btn mt-4">learn more</a>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <img class="img-fluid abouts" src="assets/images/1.jfif" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- About Area End -->


    <!-- Feature Area Starts -->
    <section class="feature-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top text-center">
                        <h3>featured classes</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature mb-5 mb-lg-0">
                        <div class="feature-img">
                            <img src="assets/images/feature1.jpg" alt="">
                            <div class="hover-state">
                                <a href="#" class="template-btn">details</a>
                            </div>
                        </div>
                        <div class="feature-footer text-center">
                            <h5>cycling training</h5>
                            <p>Hath creeping subdue he fish green face whose spirit that seasons today multiply female midst upon</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature mb-5 mb-lg-0">
                        <div class="feature-img">
                            <img src="assets/images/feature2.jpg" alt="">
                            <div class="hover-state">
                                <a href="#" class="template-btn">details</a>
                            </div>
                        </div>
                        <div class="feature-footer text-center">
                            <h5>tone muscle</h5>
                            <p>Hath creeping subdue he fish green face whose spirit that seasons today multiply female midst upon</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <div class="feature-img">
                            <img src="assets/images/feature3.jpg" alt="">
                            <div class="hover-state">
                                <a href="#" class="template-btn">details</a>
                            </div>
                        </div>
                        <div class="feature-footer text-center">
                            <h5>meditation work</h5>
                            <p>Hath creeping subdue he fish green face whose spirit that seasons today multiply female midst upon</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Area End -->




    {% include 'home/footer.html' %}


    <!-- Javascript -->
    <script src="{% static 'home/js/vendor/jquery-2.2.4.min.js' %}"></script>
	<script src="{% static 'home/js/vendor/bootstrap-4.1.3.min.js' %}"></script>
    <script src="{% static 'home/js/vendor/wow.min.js' %}"></script>
    <script src="{% static 'home/js/vendor/owl-carousel.min.js' %}"></script>
    <script src="{% static 'home/js/vendor/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'home/js/main.js' %}"></script>


</body>
</html>
