<!-- Friend Area Starts -->
    <!-- <section class="friend-area section-padding text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>bring all your friends. get 50% discount!</h3>
                    <h4 class="pt-3 pb-4">Give dry stars form us called won't winged had abundantly <br>land Midst appear for you eden</h4>
                    <a href="#" class="template-btn">join with us</a>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Friend Area End -->


    <!-- Footer Area Starts -->
    <footer class="footer-area section-padding">
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="single-widget-home mb-5 mb-lg-0">
                            <h5 class="mb-4">about us</h5>
                            <p>Gyms were popular in ancient Greece. Their curricula included Gymnastica militaria or self-defense.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-widget-home mb-5 mb-lg-0">
                            <h5 class="mb-4">contact us</h5>
                            <p>kerala,kasaragod </p>
                            <span class="span-style">9874-561-230</span>
                            <span class="span-style">9874-561-230</span>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="single-widget-home">
                            <h5 class="mb-4">Subscribe</h5>

                            <form action="#">
                                <input type="email" placeholder="Your email here" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email here'" required>
                                <button type="submit" class="template-btn"><i class="fa fa-long-arrow-right"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <div class="container bg-info">
        <div class="row">
          <div class="col-md-12 text-center text-white">
            <i class="fa fa-facebook-square"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
            <i class="fa fa-telegram" aria-hidden="true"></i>
            <p>copyright@fat to fit</p>
          </div>
        </div>

      </div>

    </footer>
    <!-- Footer Area End -->
