{% extends 'physician/base.html' %}
{% block content %}


<div class="col-lg-12 mt-5">

    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        <strong>{{message}}</strong>
    </div>
    {% endfor %}
    <div class="card">

        <div class="card-body">
            <h4 class="header-title">FirstAids </h4>

            <div class="single-table">
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead class="text-uppercase bg-secondary">
                        <tr class="text-white">
                            <th>ID</th>
                            <th>Cause</th>
                            <th>First Aid</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for firstaid in firstaids %}
                        <tr>
                            <td>{{forloop.counter }}</td>
                            <td>{{ firstaid.cause }}</td>
                            <td>
                                <ol>
                                    <li>{{ firstaid.first_aid1 }}</li>
                                    <li>{{ firstaid.first_aid2 }}</li>
                                    <li>{{ firstaid.first_aid3 }}</li>
                                    <li>{{ firstaid.first_aid4 }}</li>
                                </ol>
                            </td>

                            <td><a href="{% url 'edit_first_aid' firstaid.id %}" class="btn btn-primary ">Update</a>
                                <a href="{% url 'delete_first_aid' firstaid.id %}" class="btn btn-primary ">Delete</a>
                            </td>

                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
window.mytest = function()
{ var isValid = confirm('Are you sure Want to Delete ?');if (!isValid) { event.preventDefault();
  }}








</script>
{% endblock %}