{% extends 'admintemp/base.html' %}
{% block content %}


<div class="col-lg-12 mt-5">
    <a class="btn btn-primary" href="{% url 'customer_register' %}" role="button">ADD CUSTOMER</a>
    <br><br>
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        <strong>{{message}}</strong>
    </div>
    {% endfor %}
    <div class="card">

        <div class="card-body">
            <h4 class="header-title">Customers</h4>

            <div class="single-table">
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead class="text-uppercase bg-secondary">
                        <tr class="text-white">
                            <th>SINo</th>
                            <th>Name</th>
                            <th>DOB</th>
                            <th>Phone No</th>
                            <th>Gender</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Occupation</th>
                            <th>Photo</th>
                            <th>Action</th>
                            </tr>
                        </thead>


                        {% for user in users %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.date_of_birth}}</td>
                            <td>{{user.phone_no}}</td>
                            <td>{{user.gender}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.address}}</td>
                            <td>{{user.occupation}}</td>

                            <td><img src="{{user.photo.url}}" style="100px;width:80px"></td>
                            <td>
                                {% if user.status == 0 %}
                                <a class="btn btn-primary " href="{% url 'approve_user' user.user_id %}">Approve
                                    User</a>
                                {% else %}
                                <button class="btn btn-primary ">Approved</button>
                                {% endif %}
                            </td>

                        </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
window.mytest = function()
{ var isValid = confirm('Are you sure Want to Delete ?');if (!isValid) { event.preventDefault();
  }}



</script>
{% endblock %}